<%- include('partials/header') %>

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- probably other scripts here -->
    <link rel="stylesheet" href="styleindex.css">

    <!-- here is the library link -->
    <!--<script src="jquery-3.4.0.min.js"></script>

    <!-- below will go our script -->


    <title>Studenti Mediazione Linguistica</title>
  </head>
  <body>

    <section>
      <div class="navbar">
  <nav>
      <ul>
        <li>
          <!-- link one -->
          <a href="https://www.google.com/maps/place/62100+Macerata+MC/@43.296137,13.4168575,13z/data=!3m1!4b1!4m5!3m4!1s0x132df3569b66e557:0xfad0804619866256!8m2!3d43.2984268!4d13.4534767"> Mappa Macerata </a>
        </li>
        <li>
          <!-- link two -->
           <a href="http://mediazione.unimc.it/it/didattica/guide-e-piani-di-studio-1/piani-di-studio"> Piano di studi </a>
        </li>
        <li>
          <!-- link three -->
          <a href="http://www.apmgroup.it/parcheggi/64-bacheca-parcheggi/661-centro-storico.html"> Parcheggi </a>
        </li>
        <li>
          <!-- link four -->
          <a href="https://studenti.unimc.it/ListaAppelliOfferta.do?menu_opened_cod=menu_link-navbox_didattica_Didattica"> Esami </a>
        </li>
        <a href="https://aule.unimc.it/day.php?year=2019&month=09&day=15&area=21&room=177"> Aule </a>
     </li>
     <li>
     <!-- link four -->
       <a href="http://mediazione.unimc.it/it/didattica/contatti"> Segreteria </a>
     </li>
     <a href="https://studenti.unimc.it/auth/Login.do"> Area personale </a>
  </li>
  <li>
    <!-- 3 -->
    <a href="https://www.facebook.com/groups/mediazionelinguisticacivitanova"> Gruppo
      </a>
  </li>
  <li>
    <!-- 4 -->
    <a href="http://www.studentiunimacerata.it">Sito</a>
  </li>
      </ul>
      </nav>
      <div>
    </section>



<!-- The dots/circles -->
<div style="text-align:center" front=>

  </body>
</html>
<div class="jumbotron centered">
  <div class="container">
    <i class="fa fa-camera-retro fa-5x"></i>
    <h1 class="display-3">Super Spotted</h1>
    <p class="lead">Condividi il tuo pensiero</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>


  </div>

</div>
<h3> Studenti Uni Macerata devoloped Michele Giammarini with appbrewery<h3>
<%- include('partials/footer') %>
