<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fa fa-camera-retro fa-5x"></i>
    <h1 class="display-3">Ultimi post</h1>

    <% usersWithSecrets.forEach(function(user){ %>
      <p class="secret-text"><%=user.secret%></p>
    <% }) %>



    <hr>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Spotta qui</a>
    <a class="btn btn-dark btn-lg" href="http://www.studentiunimacerata.it/" role="button">Il nostro sito</a>


</div>

</div>
<h3> Studenti Uni Macerata consigli opinioni per e dagli studenti del universita di Macerata<h3>
<%- include('partials/footer') %>
